@charset "UTF-8";
/* This is a comment! Text here will be ignored by the browser. */
body {
	margin: 0 auto;
}
.homePage {
	background: #E02D1D;
}
.container {
	width: 960px;
	margin: 0 auto;
}
.header {
	background: #E04712;
	text-align: center;
	margin: 0px;
	padding: 5;
	float: left;
	width: 100%;
	height: 70px;
	
}
.nav {
	background: #E09119;
	margin: 0px;
	padding: 5;
	float: left;
	width: 100%;
	height: 60px;
	text-align: center;
}
.content {
	background: #EEEEEE;
	margin: 0px;
	float: left;
	width: 100%;
	text-align: center;
}
.footer {
	background: #E06F19;
	margin: 0px;
	float: left;
	width: 100%;
	height: 50px;
	text-align: center;
}
